:root {
	--bg-color: #222;
	--txt-color: #bbb;
}

.slideshowcomment{
	display:block;
	position: relative;
	width: 70%;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 20px;
	font-style: italic;
	text-align: center;
}

.prevbt, .nextbt {
	font-size: 30px;
	padding: 20px;
	top: 50%;
  cursor: pointer;
  position: absolute;
  width: auto;
  color: var(--txt-color);
  font-weight: bold;
  user-select: none;
}

.prevbt {
  left: 0;
}

.nextbt {
  right: 0;
}

.slideshow{
	position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
 }

body {
	margin: 5% auto;
	line-height: 1.6;
	font-size: 24px;
	background: var(--bg-color);
	color: var(--txt-color);
	padding:0 10px;
	font-size-adjust: none;
 	text-size-adjust: none;
 	-webkit-text-size-adjust: none;
}

.NavP{
	margin-top: 0;
	margin-bottom: 0;
}

.content{
	display:block;
	overflow: auto;
}

.slideimagesstyle{
	width:100%;
	height: 100%;
	max-width: none;
	max-height: none;
  object-fit: contain;
	margin: auto;
}

*{
	box-sizing: border-box;
	font-family: 'Fira Mono', monospace;
}

nav{
	font-size: 1.25vw;
	line-height: normal;
	position: fixed;
	background: var(--bg-color);
	top:0;
	left:0;
	width:25%;
	height:100%;
	border-style: solid;
	border-width: 0px 2px 0px 0px;
  overflow-y: auto;
	z-index: 10;
}

.navigation{
	margin-left: 4%;
}

.contact{
	font-size: 150%;
}

.middle{
	text-align: center;
	margin: 50px;
}

.slideshowimgs{
	position:absolute;
	top:0;
	left:0;
	width=100%;
	height=100%;
}

img{
	margin-left: auto;
  margin-right: auto;
	width:50%;
	height:auto;
	max-width: 50%;
	max-height: 50%;
	display: block;
}

h1,h2,h3{
	text-align: center;
	line-height: 1.2;
}

main{
	margin-left: 25%;
	padding: 5%;
}

a{
	color: var(--txt-color);
}

nav a {
	text-decoration: none;
}

.code{
	background-color: #404040;
	padding: 1%;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 28px;
	white-space: nowrap;
	box-sizing : border-box;
	display: inline-block;
}

.mobileNavClass{
	position: fixed;
	top: 0;
	right: 0;
	width: 15%;
	height: auto;
	display: none;
}
